/* reset */
* {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  font-size:100%;
  line-height:1;
  box-sizing: border-box;
}

/* Layout */
.note-columns {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  min-height: calc( 100vh - 4rem);
}

.note-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  flex-grow: 0;
  background-color: #dcdcdc;
}

.note-pane-left {
  flex: 0 0 35%;
  border: 1px solid grey;
}

.note-pane-right {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 0 0 65%;
  border: 1px solid grey;
  padding: 1rem;
  background-color: #dcdcdc;
}

.note-pane-right > * {
  flex: 0 0 100%;
}

.note-pane-right .head,
.note-pane-right .content,
.note-pane-right .controls {
  display: flex;
  border: 1px solid grey;
  background: white;
}

.note-pane-right .content {
  padding: 2rem;
}

.note-pane-right .content .markdown > * + * {
  margin-top: 1rem;
}

.note-pane-right .controls {
  margin-top: 1rem;
}

.note-pane-right .head,
.note-pane-right .controls {
  flex: 0 05rem;
  align-items: center;
  padding: 1rem;
}

.note-pane-right .content {
  flex: 1 0 auto;
  margin-top: 1rem;
}


/* buttons */
button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: #f7f7f7
}

button[disabled]:hover {
  cursor: not-allowed;
}

button + button {
  margin-left: 1rem;
}

/* Note select */

.note-select {
  padding: 1rem;
  border-bottom: 1px solid grey;
}

.note-select.active:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.note-select.disabled:hover {
  cursor: not-allowed;
}

.note-select.note-current,
.note-select.note-current:hover{
  background-color: #91e85257;
}

/* Inputs */
input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
}

textarea {
  display: flex;
  width: 100%;
  padding: 1rem;
}

/* disabled state */
.disabled-zone {
  position: relative;
}

.disabled-zone:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5
}

.disabled-zone:hover {
  cursor: not-allowed;
}
